name: Check TOken

on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Verify token presence
        run: |
          if [ -z "$NODE_AUTH_TOKEN" ]; then
            echo "❌ NODE_AUTH_TOKEN is empty"
            exit 1
          else
            echo "✅ NODE_AUTH_TOKEN is set"
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
